@define-color dark-purple #551A8B;
@define-color purple #747;

#left, #right {
    min-height: 27px;
    border: 2px solid @purple;
    background-color: black;
    /* background-image: -gtk-gradient (linear, 0 0, 0 1, */
    /*    color-stop(0, #000), */
    /*    color-stop(0.3, @purple), */
       /* color-stop(0.7, @purple), */
       /* color-stop(1, #000)); */
}

label {
    font-family: Inconsolata;
}

#title {
    margin-left: 280px;
}

#box1 {
    background-color: black;
    font-weight: bold;
}

#box1 label {
    background-color: @dark-purple;
    background-image: url("./test-bg.svg");
    padding: 0 5px;
}

#workspaces {
    background-color: @purple;
    /* padding: 0 1px; */
}

#workspaces label {
    background-color: black;
    color: white;
    font-size: 18px;
    margin: 0 1px;
    padding: 0 8px;
    font-weight: bold;
}

#workspaces .focused {
    background-color: @dark-purple;
}

#icon {
    padding: 0 5px;
}
