@define-color purple #551A8B;

#left {
    background-color: @purple;
}

#right {
    background-color: black;
}

label {
    color: white;
    font-family: Inconsolata;
    text-shadow: 1px 1px pink;
    font-size: 24px;
}

#icon {
    margin: 5px;
}
