/* @define-color dark #551A8B; */
/* @define-color purple #747; */
/* @define-color dark #4C070F; */
/* @define-color purple #aF462E; */
@define-color darkest #124;
@define-color dark #1A558B;
@define-color normal #477;

#left, #right {
    min-height: 27px;
    background-color: @darkest;
    border-top: 2px solid @dark;
}

label {
    font-family: Inconsolata;
}

#left #title {
    margin-left: 280px;
}

#right #title {
    margin-left: 300px;
}

#box1 {
    font-weight: bold;
}

#box1 label {
    padding: 0 5px;
}

#workspaces {
    background-color: @dark;
}

#workspaces label {
    background-color: @darkest;
    color: white;
    /* font-size: 15px; */
    margin: 0 1px;
    padding: 0 8px;
    font-weight: bold;
}

#workspaces .visible {
    background-color: @dark;
}
#workspaces .urgent {
    background-color: red;
}

#logo {
    padding: 2px 5px;
}

#workspaces .focused,
#box1,
#logo
{
    background-image: -gtk-gradient (linear, 0 0, 0 1,
       color-stop(0, @dark),
       color-stop(0.3, @normal),
       color-stop(0.7, @normal),
       color-stop(1, @dark));
}

.icon {
    padding: 0 7px;
}
