@define-color primary #747;
@define-color secondary #551A8B;

label {
    font-family: Hack;
    color: white;
    font-size: 12px;
    font-weight: 600;
}

#left, #right {
    min-height: 27px;
    border-bottom: 2px solid @primary;
    /* background-color: black; */
}

#eq {
    margin: 0 7px;
}

#tray {
    padding-right: 7px;
    padding: 0 7px;
    background-color: @primary;
    border-radius: 10px 0 0 0;
}

#clock {
    padding: 0 7px;
    background-color: @primary;
    border-radius: 10px 0 0 0;
}

#workspaces label {
    padding: 0 8px;
    background-color: @secondary;
}

#workspaces .visible {
    background-color: @secondary;
}
#workspaces .urgent {
    background-color: red;
}
#workspaces .focused {
    background-color: @primary;
}

#mode {
    padding: 0 7px;
    margin: 0 10px;
    color: white;
    background-color: @primary;
    border-radius: 10px 10px 0 0;
}

/* make the first workspace icon be firefox */
#left #workspaces :nth-child(1) label {
    background-image: url("./images/firefox.png");
    color: transparent;
    background-color: transparent;
    padding: 0 5px 0 27px;
    margin-left: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    font-weight: bold;
}

#left #workspaces :nth-child(2) label {
    border-radius: 10px 0 0 0;
}

#workspaces :last-child label {
    border-radius: 0 10px 0 0;
}
