@define-color blue #0A83FD;

#left, #right {
    min-height: 27px;
    border-bottom: 2px solid @blue;
    background-color: black;
}

#left_scroll, #right_scroll {
    background-color: black;
}

label {
    font-family: Hack;
    color: white;
    font-size: 12px;
    font-weight: 600;
}

#menu {
    background-color: @blue;
    padding: 0 8px;
    min-width: 28px;
    background-image: url("./icons/tux.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% -10%;
}

#menu_popup {
    background-color: black;
    padding: 5px;
}

#menu_popup label {
    padding: 5px;
}

#menu_popup label:focus {
    background-color: @blue;
}

#tray {
    padding: 0px 5px;
}

#title {
    margin-left: 300px;
}

#box1 label:not(#battery) {
    padding: 0 7px;
    background-image: url("./icons/chevron.svg");
    background-repeat: no-repeat;
}

#workspaces label {
    padding: 0 8px;
}

#workspaces .visible {
    background-color: #0022CC;
}
#workspaces .urgent {
    background-color: red;
}
#workspaces .focused {
    background-color: @blue;
}

#mode {
    padding: 0 5px;
    color: white;
    background-color: @blue;
}

.icon {
    padding-right: 7px;
}


/* battery config */
#battery {
    background-size: 17px 17px;
    background-position: 26px 5px;
    background-repeat: no-repeat;
    padding-right: 27px;
}
#battery.full {
    background-image: url("./icons/battery/full.svg");
}
#battery.full.plugged {
    background-image: url("./icons/battery/full_charging.svg");
}
#battery.high {
    background-image: url("./icons/battery/high.svg");
}
#battery.high.plugged {
    background-image: url("./icons/battery/full_charging.svg");
}
#battery.medium {
    background-image: url("./icons/battery/medium.svg");
}
#battery.medium.plugged {
    background-image: url("./icons/battery/medium_charging.svg");
}
#battery.low {
    background-image: url("./icons/battery/low.svg");
}
#battery.low.plugged {
    background-image: url("./icons/battery/low_charging.svg");
}
