@define-color blue #0A83FD;
@define-color darkblue #0022CC;

label, entry {
    font-family: Hack;
    color: white;
    font-size: 12px;
    font-weight: 600;
}

entry {
    background-color: black;
    border: 2px solid @blue;
    padding: 0 15px;
    min-width: 300px;
}


#left, #right {
    min-height: 27px;
    border-bottom: 2px solid @blue;
    background-color: black;
}

#left_scroll, #right_scroll {
    background-color: black;
}

#menu label {
    background-color: @blue;
    padding: 0 8px;
    min-width: 28px;
    background-image: url("./icons/tux.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% -10%;
}

/* #menu_popup { */
/*     background-color: black; */
/*     padding: 5px; */
/* } */

/* #menu_popup label { */
/*     padding: 5px; */
/* } */

/* #menu_popup label:focus { */
/*     background-color: @blue; */
/* } */

#tray {
    padding-right: 7px;
}

#title {
    margin-right: 200px;
}

#workspaces label {
    padding: 0 8px;
}

#workspaces .visible {
    background-color: @darkblue;
}
#workspaces .urgent {
    background-color: red;
}
#workspaces .focused {
    background-color: @blue;
}

#mode {
    padding: 0 5px;
    color: white;
    background-color: @blue;
}


/* icons */

.has-icon {
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: 100% 48%;
    padding-right: 19px;
    margin-right: 7px;
}

#clock {
    background-image: url("./icons/clock.svg");
}

#ip {
    background-image: url("./icons/ip.svg");
}

#bandwidth {
    background-image: url("./icons/bandwidth.svg");
}

#disk {
    background-image: url("./icons/disk.svg");
}

#cpu {
    background-image: url("./icons/cpu.svg");
}

#battery {
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 100% 48%;
    padding-right: 22px;
    margin-right: 5px;
}
#battery.full {
    background-image: url("./icons/battery/full.svg");
}
#battery.full.plugged {
    background-image: url("./icons/battery/full_charging.svg");
}
#battery.high {
    background-image: url("./icons/battery/high.svg");
}
#battery.high.plugged {
    background-image: url("./icons/battery/full_charging.svg");
}
#battery.medium {
    background-image: url("./icons/battery/medium.svg");
}
#battery.medium.plugged {
    background-image: url("./icons/battery/medium_charging.svg");
}
#battery.low {
    background-image: url("./icons/battery/low.svg");
}
#battery.low.plugged {
    background-image: url("./icons/battery/low_charging.svg");
}
